body {
    display: flex;
    background-color: #bfdff5;
    flex-direction: column;
    align-items: center;
}

.gameboard {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 2rem;
}

.player {
    display: grid;
    justify-items: center;
}

.card {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 3px black solid; 
    background-color: #f7f7f5;

    position: relative;
    overflow: hidden;
    padding: 2%
}

.card img {
    position: absolute;
    height: 10%;
    width: 10%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

/* Position images in card */
#pic1 { height: 13%; width: 13%; top: 50%; left: 50%; transform: translate(-50%, -50%) rotate(0deg) translate(83px) rotate(0deg); }
#pic2 { height: 22%; width: 22%; top: 50%; left: 50%; transform: translate(-50%, -50%) rotate(80deg) translate(80px) rotate(-81deg); }
#pic3 { height: 20%; width: 20%; top: 50%; left: 50%; transform: translate(-50%, -50%) rotate(90deg) translate(-18px) rotate(-17deg); }
#pic4 { height: 23%; width: 23%; top: 50%; left: 50%; transform: translate(-50%, -50%) rotate(-150deg) translate(113px) rotate(90deg); }
#pic5 { height: 28%; width: 28%; top: 50%; left: 50%; transform: translate(-50%, -50%) rotate(147deg) translate(103px) rotate(-180deg); }
#pic6 { height: 18%; width: 18%; top: 50%; left: 50%; transform: translate(-50%, -50%) rotate(30deg) translate(120px) rotate(-225deg); }
#pic7 { height: 24%; width: 24%; top: 50%; left: 50%; transform: translate(-50%, -50%) rotate(274deg) translate(110px) rotate(-270deg); }
#pic8 { height: 17%; width: 17%; top: 50%; left: 50%; transform: translate(-50%, -50%) rotate(315deg) translate(108px) rotate(-315deg); }


@media (max-width: 600px) {
    .gameboard {
        overflow: hidden; 
        justify-content: center; 
    }

    .card {
        height: 300px;
        width: 300px;
    }
}


.popup-overlay {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.popup {
    display: none; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.popup button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

h1 {
    font-size: 40px;
    color: #a31414;
    font-weight: bold;
    font: 'Verdana';
}

